:root {
    --primary-background: #000000;
    --secondary-background: #1c1818;
    --primary-font-color: #FFFFFF;
    --secondary-color: #C2292B;
    --accent-color: #C2292B;
}
body {
    width: clamp(320px, 1fr ,1024px);
    /*background-color: var(--header-background);*/
}
main {
    color: var(--primary-font-color);
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "header content"
        "header content"
        "header footer";
    background-color:  var(--secondary-background);

}

header {
    grid-area: header;
    display: grid;

    background-color: var(--primary-background);

}

#content {
    grid-area: content;
    color: var(--secondary-color)
}

header nav {
    display: flex;
    flex-flow: column nowrap;
}

footer {
    grid-area: footer;
    background-color: var(--primary-background);
}

button {
    appearance: none;
    outline: none;
    border: none;
    background-color: inherit;

    color: var(--primary-font-color)
}